// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.


$primary   : #22293d;
$secondary : #a3b4cc;
$accent    : #9C27B0;

$dark      : #7d7575;

$positive  : #4f805a;
$negative  : #a80518;
$info      : #166c7d;
$warning   : #f5d682;
